a {
    text-decoration: none;
}

.title {
    width: 100%;
    color: white;
    text-align: center;
    font-family: monospace;
    font-size: 40px;
    margin-top: -10px;
    padding-top: 10px;
    padding-bottom: 10px;

}
.fa-play {
    z-index: 2;
    position: absolute;
    color: #ffffff;
    font-size: 50px;
    width: 80px;
    height: 80px;
    margin-top: 51px;
    margin-left: 115px;
    background: #626262;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
}

.vd-container .fa-play {
    margin-top: 70px;
    margin-left: 120px;
}

.fa-play:before {
    content: "\f04b";
    position: absolute;
    margin-left: -15px;
    margin-top: 14px;
}

.hov {
    z-index: 2;
    background: rgba(69, 69, 69, 0.49);
    width: 316px;
    height: 200px;
    position: absolute;
    opacity: 10%;
}

.recommended-container .vd-container .hov {
    width: 315px;
    height: 198px;
}

.vd-container .hov {
    width: 315px;
    height: 218px;
}

.hov:hover {
    opacity: 80%;
    transition: all 0.1s ease;
}

.hov[background]:hover {
    opacity: 10%;
}

body {
    background: #191919;
}

.homepage {
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
    background: #302562;
    border: 1px solid #ffffff;
    border-radius: 50px;
    padding: 5px;
    z-index: 2;
}

.sec-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -20px;
}

#main_video {
    align-items: center;
    align-content: center;
    position: center;
    width: 1280px;
    height: 720px;
    border: 5px solid #191919;
    margin-left: -5px;
    z-index: 0;
    border-radius: 5px 5px 0 0;

}

.main-back {
    position: absolute;
    margin-top: 4px;
    width: 1278px;
    height: 718px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    z-index: -1;
    filter: blur(3px);
    overflow: hidden;
}

.main-separator {
    position: absolute;
    margin-top: -10px;
    width: 1280px;
    height: 2px;
    background: #343434;
    z-index: 1;
}

.main-title {
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    margin-top: -7px;
    width: 1280px;
    text-align: center;
    color: white;
    font-size: 20px;
    z-index: 1;
    background: #000000;
    border-radius: 0 0 5px 5px;
}

.videos-container {
    position: relative;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.vd-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    max-width: 320px;
    z-index: 1;
}

video {
    border: 2px solid;
    border-color: #343434;
    border-radius: 5px 5px 0 0;
    width: 316px;
    height: 220px;
    z-index: 0;
}

.video-thumbnail {
    border-radius: 5px;
    position: absolute;
    margin-top: 3px;
    margin-left: 3px;
    width: 312px;
    height: 220px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    z-index: -1;
    filter: blur(3px);
    overflow: hidden;
}

.video-name {
    color: #c2c2c2;
    font-size: 16px;
    background: #212121FF;
    text-align: center;
    margin-top: -7px;
    width: 320px;
    padding-top: 5px;
    padding-bottom: 6px;
    border-radius: 0 0 5px 5px;
    font-family: monospace;
    z-index: 1;
}

.duration {
    position: absolute;
    margin-top: 190px;
    margin-left: 250px;
    width: 60px;
    color: #c2c2c2;
    font-size: 16px;
    background: #212121;
    text-align: center;
    border: 1px solid #939393;
    border-radius: 3px;
    font-family: monospace;
    z-index: 2;
}

.separator {
    position: absolute;
    margin-top: 220px;
    width: 320px;
    height: 2px;
    background: #343434;
    z-index: 2;
}

.recommended-container {
    margin-left: 30px;
    float: right;
}

.recommended-container video {
    border: 2px solid #343434;
    border-radius: 5px 5px 0 0;
    width: 316px;
    height: 200px;
    z-index: 0;
}

.recommended-container .video-thumbnail {
    border-radius: 5px;
    position: absolute;
    margin-top: 3px;
    margin-left: 3px;
    width: 312px;
    height: 200px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    z-index: -1;
    filter: blur(3px);
    overflow: hidden;
}

.recommended-container .video-name {
    color: #c2c2c2;
    font-size: 16px;
    background: #212121FF;
    text-align: center;
    margin-top: -7px;
    width: 320px;
    padding-top: 5px;
    padding-bottom: 6px;
    border-radius: 0 0 5px 5px;
    font-family: monospace;
    z-index: 1;
}

.recommended-container .duration {
    position: absolute;
    margin-top: 170px;
    margin-left: 250px;
    width: 60px;
    color: #c2c2c2;
    font-size: 16px;
    background: #212121;
    text-align: center;
    border: 1px solid #939393;
    border-radius: 3px;
    font-family: monospace;
    z-index: 1;
}

.recommended-container .separator {
    position: absolute;
    margin-top: 200px;
    width: 320px;
    height: 2px;
    background: #343434;
    z-index: 1;
}

.pagination {
    width: 100%;
    margin-top: 30px;
    display: inline-flex;
    justify-content: center;
}

.pagination li {
    font-size: 20px;
    list-style: none;
    padding: 10px;
    border-radius: 5px;
    margin-left: 5px;
    color: #302562;
    background: #c2c2c2;
    z-index: 2;
}

.pagination .active {
    background-color: #302562;
    color: white;
    font-size: 20px;
    border: 1px solid #302562;
}

