<!doctype html>
<html lang="en">
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/search.css') }}" rel="stylesheet" type="text/css">
    <title>Search: "{{ query }}" [{{results}}]</title>
</head>
<body>
<div class="homepage"><a href="{{ url_for('index') }}">🏠</a></div>
    <form action="/search" method="GET" style="z-index: 2; position: absolute; right: 1%">
      <input type="text" name="query" placeholder="Search...">
      <button type="submit">Search</button>
    </form>
    <h1 class="main-title">Search Results for "{{ query }}" [{{results}}]</h1>
<div class="videos-container">
    {% for video in videos %}
    <div class="vd-container">
        <a class="hov" href="{{ url_for('video', video_file=video) }}"> <i class="fa fa-play"></i></a>
        <div class="video-thumbnail"
             style="background-image: url('{{ hosted + 'media/root/thumbnails/' + video[:-4] + '.jpg' }}');"></div>
        <video poster="{{ hosted + 'media/root/thumbnails/' + video[:-4] + '.jpg' }}" preload="none">
            <source src="{{ hosted + 'media/root/videos/' + video }}" type="video/mp4">
        </video>

        <p class="separator"></p>
        <p class="video-name">{{ video[:20] + '...' }}</p>
        <p style="position: absolute; margin-top: 169px; margin-left: 295px; z-index: 2;"><a href="{{ url_for('move', video_file=video, page=page) }}">⤴️</a></p>
        <p class="duration">{{durations[video]}}</p>
    </div>
    {% endfor %}
</div>
</div>
<div class="pagination">
    {{ pagination.links }}
</div>
</body>
</html>